@charset "UTF-8";
body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    margin-left: 0px;
    margin-top: 20px;
    background-color: #FFF;
    background-repeat: repeat-x;
    background-image: url(img/bg01.jpg);
}

#guide {
    width: 204px;
    font-size: 36px;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
    float: left;
    overflow: visible;
    position: relative;
    visibility: visible;
    margin-top: 20px;
}

#guide a:link {
    color: #F60;
    text-decoration: none;
}

#guide a:hover {
    color: #F60;
    text-decoration: underline;
}

#guide a:active {
    color: #F60;
    text-decoration: none;
}

#guide a:visited {
    color: #F60;
    text-decoration: none;
}

a:link {
    color: #960;
    text-decoration: none;
}

a:visited {
    color: #960;
    text-decoration: none;
}

a:hover {
    color: #F00;
    text-decoration: underline;
}

a:active {
    color: #960;
    text-decoration: none;
}

#top {
    vertical-align: baseline;
    text-align: right;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #960;
}

#guestbook {
    color: #930;
    background-image: url(img/bgcat1.png);
    background-repeat: no-repeat;
    background-position: top;
}

#catinfo {
    color: #930;
}

#zhengwen {
    font-size: 14px;
    color: #930;
}
